.header {
  display: grid;
  min-width: 100%;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px 96px;
  align-items: center;


}

.header__links-list {
  display: flex;
  gap: 22px;
  font-weight: 400;
  font-size: 18px;
  list-style-position: inside;
  list-style: "○";
  text-indent: 11px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  text-indent: 0;
}

.header__link {
  font-weight: normal;
  display: inline;
  text-underline-offset: 16%;
}

.header__link-active {
  text-decoration: none;
  border-bottom: none;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__logo-image {
  width: 100%;
  padding: 0 5.5px;
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
  align-items: start;
  max-width: 240px;
  text-underline-offset: 16%;
}

.address__link {
  font-weight: normal;
  display: inline;
  text-underline-offset: 16%;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 180px;
  background-image: url(../images/cover.jpg);
  min-height: 757px;
  min-width: 100%;
  background-size: cover;
  background-position: -135px;
  padding: 165px 50px 50px;
  background-repeat: no-repeat
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.6;
  background-color: #000;
  left: 0;
  top: 0;
}

.cover__title {
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.aligned-text {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 115px;
  font-size: 100px;
  font-style: normal;
  align-content: space-between;
  justify-content: space-between;
  gap: 20px;
}

.aligned-text__center {
  align-self: center;
}

.aligned-text__right {
  align-self: end;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  text-transform: uppercase;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  word-spacing: 18.5px;
  align-self: center;
}

.bet-button {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  border: 1px #fff solid;
  background-color: rgba(0 0 0 /0);
  text-transform: uppercase;
  padding: 11px 31px 13px 31px;
  align-self: center;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.lots {
  margin-bottom: 120px;
  padding: 0px 24px;
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  width: 100%;
  gap: 25px;
  list-style: none;
  /*перенос карточке на новую строку*/
  flex-wrap: wrap;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  height: 100%;
  background-size: cover;
  background-position: -125px
}
/*повторяющиеся стили перемещенны в класс card*/
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  padding: 48px 40px 0px;
  justify-self: center;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  position: relative;
  z-index: 1;
  color: #fff;
  padding: 0 40px 48px;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  padding: 30px 0 0 40px;
  font-size: 20px;
  text-underline-offset: 15%;
}

.about {
  display: grid;
  grid-template-columns: 359px 1fr;
  margin-bottom: 10px;
  padding: 0px 24px;
}


.about__logo {
  margin-left: 49.5px;
  display: flex;
  width: 240px;
  height: 240px;
  align-self: center;
  background-color: #000;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 33px;
}

.about__logo-image {
  max-height: 114px;
  max-width: 148px;
}

.about__title {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  padding: 136px  0px 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  gap: 24px;
  max-width: 687px;
}

.footer {
  width: 100%;
  margin-top: 180px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 180px;
  padding: 0px 50px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  list-style: none;
  justify-self: center;
}

.footer__menu-list-item {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  text-underline-offset: 16%;
  line-height: 120%;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-self: flex-end;
}

.footer__social-icon {
  max-width: 48px;
  max-height: 48px;
}

.footer__address {
  max-width: 265px;
}